<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body onload="loadArticles()">


    <p>You can iterate over the blogs like this:</p>
    <br>
    {% if articles %}
      {% for article in articles %}
      <p>Title: {{ article.title }}</p>
      <p>Content: {{ article.content }}</p>
      <p>Author: {{ article.author }}</p>
      <p>Publish Date: {{ article.date }}</p>
      <p>Tags:
        {% for tag in article.tags.all %}
          {{ tag }},
        {% endfor %}
      </p>
        <a href="{% url 'blog:read' article.id %}">Read</a> <!-- the {% syntax just means it's a function. This one is called url, that takes the path to a view, and the id of an article -->
        <br>
        <br>
        <br>
      {% endfor %}
    {% else %}
      <p>There are no articles to display, have you added any to the database?</p>
    {% endif %}

    <p>Or by making an AJAX call to the API like this:</p>

    <div id="ajax-content"></div>

    <script type="text/javascript">
      function loadArticles() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);
            document.getElementById("ajax-content").innerHTML =
            this.responseText;
          }
        };
        xhttp.open("GET", "{% url 'api:article-list' %}", true);  // The template tag just gets replaced with this: /api/blog/articles when the template is loaded
        xhttp.send();
      }
    </script>
    <p>It's regular JSON, so you can iterate over the list of articles and do whatevs</p>
  </body>
</html>
